<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New User</title>
</head>
<body>
    <form method="post" action="/user/add/new">
        <input type="text" name="username" placeholder="enter username" id="username">
        <input type="text" name="email" placeholder="enter email" id="email">
        <input type="password" name="password" placeholder="enter password" id="password">
        <button>ADD</button>
    </form>
</body>
</html>