<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete User</title>
</head>
<body>
    <form method="post" action="/user/<%= user.id %>?_method=DELETE">
        <h2><%= user.username %></h2>
        <input type="text" name="email" id="email" placeholder="confirm email">
        <input type="password" name="password" id="password" placeholder="ener password">
        <button>
            Delete
        </button>
    </form>
</body>
</html>