span {
    color: peru;
}
#pets {
    display: flex;
    justify-content: space-evenly;
}
.card {
    width: 400px;
    border: 2px solid black;
    border-radius: 25px;  
    padding: 10px;
    margin: 10px;
}

img {
    width: 100%;
    border-radius: 25px;  
}

h4 {
    text-align: end;
    color: rgb(73, 167, 167);
}
@media (max-width: 376px) {
    #pets {
        flex-wrap: wrap;
    }
}