<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roll Dice</title>
</head>
<body>
    <h1>
        First Dice Face: <%= num %>
    </h1>
    <h1>
        Second Dice Face: <%= secondDice %>
    </h1>
    <% if(num == 6 || secondDice == 6) { %>
        <h2>Well Done! Point added to ur account!</h2>
    <% } %>    
</body>
</html>