<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a post</title>
</head>

<body>
    <form method="post" action="/posts">
        <div>
            <input type="text" placeholder="enter username" name="username">
        </div>
        <br>
        <div>
            <textarea name="post" placeholder="write here" id="" cols="30" rows="10"></textarea>
        </div>
        <br>
        <div>
            <button>Post</button> 
        </div>
    </form>
</body>

</html>