<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="card">
        <div class="name">@<%- post.username %></div>
        <div class="post"><%- post.post %></div>
    </div>
    <button><a href="/posts">Back to Home Page</a></button>
</body>
</html>