body {
    text-align: center;
    font-family: Georgia;
}
p {
    color: red; 
    line-height: 30px;
}
a {
    text-decoration: none;
    color: rgb(0, 255, 0);
}

textarea {
    color: #000;
}

span { 
    text-decoration: underline;
}